.userCard{
    width: 200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

border: 1px black solid;
}

.userImg{
    width: 100%;
}

.userContent{
    padding: 5px;
    text-align: center;
}