.link {
    color: white;
}

.hero-section {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 75px;
}

/* Navbar */


.nav-link {
    color: white;
    font-size: 18px;
    padding: 0;
}

.nav-link:hover {
    color: #01CC8E;
}




.btn-primary-personal {
    background-color: #01CC8E;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(-4px 4px 4px #0000001e);
}

.btn-primary-personal:hover {
    filter: none;
}



/* Hero section */
.hero-content {
    padding: 75px 7% 150px;
}

.greeting-text {

    color: #01CC8E;
    font-size: 28px;
    font-weight: 400;
}

.lorem-text {
    font-weight: 300;
    margin: 15px 0;
    line-height: 30px;
    letter-spacing: 0.03em;
    font-size: 20px;
}

.intro-text {
    margin-top: 10px;
    font-size: 46px;
    font-weight: 900;
    line-height: 60px;

}

.bi-youtube:hover {
    fill: #f55252;
    transition: all 0.3s ease-in-out;
}

.bi-instagram:hover {
    fill: burlywood;
    transition: all 0.3s ease-in-out;
}

.bi-linkedin:hover {
    fill: rgb(174, 174, 238);
    transition: all 0.3s ease-in-out;
}

.cv-hero {
    color: white;
    padding-top: 15px;
}

.bg-img-hero {
    position: absolute;
    top: 165px;
    right: 145px;
    width: 35%;
    /* background-color: #272936; */
}

.right-content {
    position: relative;
}

.html-hero {
    position: absolute;
    z-index: 99;
    right: 500px;
}

.css-hero {
    position: absolute;
    z-index: 99;
    right: 550px;
    top: 150px;
}

.js-hero {
    position: absolute;
    z-index: 99;
    right: 315px;
    bottom: 560px;
}

.bootstrap-hero {
    position: absolute;
    z-index: 99;
    right: 50px;
    top: 125px;
}

.sass-hero {
    position: absolute;
    z-index: 99;
    right: 125px;
}

.react-hero {
    position: absolute;
    z-index: 99;
    right: 20px;
    top: 275px;
}


/* Portfolio section */
.portfolio-section {
    background-color: #272936;
    padding: 75px 50px;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin: 0;
}

.portfolio-title-green {
    color: #01CC8E;
}

.portfolio-item {
    padding: 25px 0;
}

.portfolio-link {
    padding-top: 5px;
}

.btn-secondary-personal {
    background-color: #01cc8f00;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px white solid;
    border-radius: 5px;

}

.btn-secondary-personal:hover {
    background-color: #01cc8f;
}

/* Testimonial-section */
.testimonial-section {
    background-color: #272936;
    padding: 75px 50px;
}

.testimonial-title {
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin: 0;
}

.testimonial-title-green {
    color: #01CC8E;
}

.testimonial-item {
    border: #01CC8E 3px solid;
    border-radius: 5px;
    padding: 35px 35px;
}

.testimonial-col {
    padding: 25px 35px;
}

.testimonial-name {
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 24px;
}

.testimonial-star {
    margin: 15px 0;
}

.testimonial-comment {
    margin: 0;
}

/* About me section */
.aboutMe-section {
    background-color: #373B4C;
    padding: 75px 50px;
}

.aboutMe-title {
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin: 0 0 25px;
}

.aboutMe-title-green {
    color: #01CC8E;
}

.aboutMe-sub-title {
    font-weight: 600;
    font-size: 24px;
}

.aboutMe-sub-title-green {
    color: #01cc8f;
}

/* Contact section */
.contact-section {
    background-color: #373B4C;
    padding: 75px 50px;
}

.contact-title {
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin: 0 0 35px;
}

.contact-title-green {
    color: #01CC8E;
}

.contact-sub-title {
    font-weight: 600;
    font-size: 24px;
}

.connect-sub-title {
    padding-top: 21px;
}

.bg-form {
    background-color: #272936;
    padding: 20px 45px;
}

.btn-primary-personal-send {
    background-color: #01CC8E;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 35px;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(-4px 4px 4px #0000001e);
}

.btn-primary-personal:hover {
    filter: none;
}

/* copyright section */
.copyright-section {
    background-color: #272936;
    padding: 15px 0;
}

.copyright-section p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}